In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("../data/time_series_table.csv")
df.head()

  animal_type  intake_year  intake_month  count
0         Cat         2014             1    335
1         Cat         2014             2    268
2         Cat         2014             3    353
3         Cat         2014             4    566
4         Cat         2014             5    901

In [17]:
result = df.to_html()
print(result)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>animal_type</th>
      <th>intake_year</th>
      <th>intake_month</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Cat</td>
      <td>2014</td>
      <td>1</td>
      <td>335</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Cat</td>
      <td>2014</td>
      <td>2</td>
      <td>268</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Cat</td>
      <td>2014</td>
      <td>3</td>
      <td>353</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Cat</td>
      <td>2014</td>
      <td>4</td>
      <td>566</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Cat</td>
      <td>2014</td>
      <td>5</td>
      <td>901</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Cat</td>
      <td>2014</td>
      <td>6</td>
      <td>821</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Cat</td>
      <td>2014</td>
      <td>7</td>
      <td>880</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Cat</td>
      <td>2014</td>
      <td>8</td>
      <td>679</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Cat</td>
      <td>2014</td>
      <td>9</td>
      <td>704</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Cat</td>
      <td>2014</td>
      <td>10</td>
      <td>605</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Cat</td>
      <td>2014</td>
      <td>11</td>
      <td>482</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Cat</td>
      <td>2014</td>
      <td>12</td>
      <td>341</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Cat</td>
      <td>2015</td>
      <td>1</td>
      <td>297</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Cat</td>
      <td>2015</td>
      <td>2</td>
      <td>268</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Cat</td>
      <td>2015</td>
      <td>3</td>
      <td>340</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Cat</td>
      <td>2015</td>
      <td>4</td>
      <td>537</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Cat</td>
      <td>2015</td>
      <td>5</td>
      <td>1007</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Cat</td>
      <td>2015</td>
      <td>6</td>
      <td>1103</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Cat</td>
      <td>2015</td>
      <td>7</td>
      <td>777</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Cat</td>
      <td>2015</td>
      <td>8</td>
      <td>812</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Cat</td>
      <td>2015</td>
      <td>9</td>
      <td>754</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Cat</td>
      <td>2015</td>
      <td>10</td>
      <td>784</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Cat</td>
      <td>2015</td>
      <td>11</td>
      <td>488</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Cat</td>
      <td>2015</td>
      <td>12</td>
      <td>320</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Cat</td>
      <td>2016</td>
      <td>1</td>
      <td>304</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Cat</td>
      <td>2016</td>
      <td>2</td>
      <td>279</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Cat</td>
      <td>2016</td>
      <td>3</td>
      <td>332</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Cat</td>
      <td>2016</td>
      <td>4</td>
      <td>663</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Cat</td>
      <td>2016</td>
      <td>5</td>
      <td>919</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Cat</td>
      <td>2016</td>
      <td>6</td>
      <td>703</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Cat</td>
      <td>2016</td>
      <td>7</td>
      <td>571</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Cat</td>
      <td>2016</td>
      <td>8</td>
      <td>765</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Cat</td>
      <td>2016</td>
      <td>9</td>
      <td>646</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Cat</td>
      <td>2016</td>
      <td>10</td>
      <td>563</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Cat</td>
      <td>2016</td>
      <td>11</td>
      <td>463</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Cat</td>
      <td>2016</td>
      <td>12</td>
      <td>417</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Cat</td>
      <td>2017</td>
      <td>1</td>
      <td>337</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Cat</td>
      <td>2017</td>
      <td>2</td>
      <td>257</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Cat</td>
      <td>2017</td>
      <td>3</td>
      <td>352</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Cat</td>
      <td>2017</td>
      <td>4</td>
      <td>564</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Cat</td>
      <td>2017</td>
      <td>5</td>
      <td>914</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Cat</td>
      <td>2017</td>
      <td>6</td>
      <td>892</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Cat</td>
      <td>2017</td>
      <td>7</td>
      <td>665</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Cat</td>
      <td>2017</td>
      <td>8</td>
      <td>563</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Cat</td>
      <td>2017</td>
      <td>9</td>
      <td>652</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Cat</td>
      <td>2017</td>
      <td>10</td>
      <td>509</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Cat</td>
      <td>2017</td>
      <td>11</td>
      <td>416</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Cat</td>
      <td>2017</td>
      <td>12</td>
      <td>335</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Dog</td>
      <td>2014</td>
      <td>1</td>
      <td>876</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Dog</td>
      <td>2014</td>
      <td>2</td>
      <td>818</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Dog</td>
      <td>2014</td>
      <td>3</td>
      <td>894</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Dog</td>
      <td>2014</td>
      <td>4</td>
      <td>857</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Dog</td>
      <td>2014</td>
      <td>5</td>
      <td>966</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Dog</td>
      <td>2014</td>
      <td>6</td>
      <td>878</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Dog</td>
      <td>2014</td>
      <td>7</td>
      <td>924</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Dog</td>
      <td>2014</td>
      <td>8</td>
      <td>841</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Dog</td>
      <td>2014</td>
      <td>9</td>
      <td>917</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Dog</td>
      <td>2014</td>
      <td>10</td>
      <td>853</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Dog</td>
      <td>2014</td>
      <td>11</td>
      <td>847</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Dog</td>
      <td>2014</td>
      <td>12</td>
      <td>891</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Dog</td>
      <td>2015</td>
      <td>1</td>
      <td>865</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Dog</td>
      <td>2015</td>
      <td>2</td>
      <td>812</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Dog</td>
      <td>2015</td>
      <td>3</td>
      <td>856</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Dog</td>
      <td>2015</td>
      <td>4</td>
      <td>896</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Dog</td>
      <td>2015</td>
      <td>5</td>
      <td>988</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Dog</td>
      <td>2015</td>
      <td>6</td>
      <td>1013</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Dog</td>
      <td>2015</td>
      <td>7</td>
      <td>795</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Dog</td>
      <td>2015</td>
      <td>8</td>
      <td>815</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Dog</td>
      <td>2015</td>
      <td>9</td>
      <td>783</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Dog</td>
      <td>2015</td>
      <td>10</td>
      <td>852</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Dog</td>
      <td>2015</td>
      <td>11</td>
      <td>863</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Dog</td>
      <td>2015</td>
      <td>12</td>
      <td>776</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Dog</td>
      <td>2016</td>
      <td>1</td>
      <td>846</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Dog</td>
      <td>2016</td>
      <td>2</td>
      <td>809</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Dog</td>
      <td>2016</td>
      <td>3</td>
      <td>861</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Dog</td>
      <td>2016</td>
      <td>4</td>
      <td>811</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Dog</td>
      <td>2016</td>
      <td>5</td>
      <td>1020</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Dog</td>
      <td>2016</td>
      <td>6</td>
      <td>853</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Dog</td>
      <td>2016</td>
      <td>7</td>
      <td>760</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Dog</td>
      <td>2016</td>
      <td>8</td>
      <td>796</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Dog</td>
      <td>2016</td>
      <td>9</td>
      <td>786</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Dog</td>
      <td>2016</td>
      <td>10</td>
      <td>738</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Dog</td>
      <td>2016</td>
      <td>11</td>
      <td>809</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Dog</td>
      <td>2016</td>
      <td>12</td>
      <td>810</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Dog</td>
      <td>2017</td>
      <td>1</td>
      <td>823</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Dog</td>
      <td>2017</td>
      <td>2</td>
      <td>850</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Dog</td>
      <td>2017</td>
      <td>3</td>
      <td>828</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Dog</td>
      <td>2017</td>
      <td>4</td>
      <td>789</td>
    </tr>
    <tr>
      <th>88</th>
      <td>Dog</td>
      <td>2017</td>
      <td>5</td>
      <td>893</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Dog</td>
      <td>2017</td>
      <td>6</td>
      <td>812</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Dog</td>
      <td>2017</td>
      <td>7</td>
      <td>833</td>
    </tr>
    <tr>
      <th>91</th>
      <td>Dog</td>
      <td>2017</td>
      <td>8</td>
      <td>819</td>
    </tr>
    <tr>
      <th>92</th>
      <td>Dog</td>
      <td>2017</td>
      <td>9</td>
      <td>934</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Dog</td>
      <td>2017</td>
      <td>10</td>
      <td>809</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Dog</td>
      <td>2017</td>
      <td>11</td>
      <td>703</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Dog</td>
      <td>2017</td>
      <td>12</td>
      <td>758</td>
    </tr>
  </tbody>
</table>